* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    padding: 20px 60px;
    border-radius: 45px;
    font-family: 'Montserrat';
    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;    
    background-color: rgb(167, 9, 241);
    color: aliceblue;
    transition: padding 300ms;
}

.btn:hover {
    padding: 20px 80px;
}